.library {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: #362360;

}

.title {
    font-size: 1.8rem;
    margin-bottom: 50px;
}

.contener{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.input {
    font-size: 1.6rem;
    width: 300px;
    border-radius: 15px;
    padding: 5px 50px 5px 20px;
    border: 1px solid #362360;
    color: #C35E9E;
    outline: none;
}

.btn {
    background-color: #362360;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    font-size: 1.4rem;
    width: 150px;
    color: aliceblue;
}

.wordTable{
    display: flex;
    justify-content: center;
}

.titileTable{
    display: flex;
    gap: 100px;
}

li{
    font-size: 1.2rem;
    list-style-type: none;

}

.table{
    background-color: #c3aed9c8;
    border-radius: 15px;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.newWords{
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
}