.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 10px 30px;
    
}

.logo{
    display: flex;
    padding-top: 3px;
    font-size: 1.8rem;

}

.logoLang{
color: #362360;
font-weight: bolder;
}

.logoApp{
    padding-top: 5px;
    font-family: 'Playfair Display', serif;
    color: #C35E9E;
}